<div>
    <p>Markdown</p>
    <textarea id="name" minlength="5" name="post_body" class="form-control"  required></textarea>
    <p>pid</p>
    <textarea id="pid" minlength="1" name="pid" class="form-control"  required></textarea>
    <p>deepth</p>
    <textarea id="deepth" minlength="1" name="deepth" class="form-control"  required></textarea>
</div>

<div class="editorMenu col-sm-12 col-md-12 col-lg-12">
        <div class="col-sm-4 text-left">
                <button id="btnPostDelete" class="btn btn-danger btn-sm">Delete</button>
            </div>    
    <div class="col-sm-6 text-right no_pad_right">
        <button id="btnMenuSave" class="btn btn-success btn-sm pull-right">Save</button>
    </div>
</div>
