<div class="mainBody"></div>
<script>
    $(function() {
        $.contextMenu({
            selector: '.fa', 
            callback: function(key, options) {
                var m = "clicked: " + key;
                window.console && console.log(m) || alert(m); 
            },
            items: {
                "New child post": {name: "Newpost", icon: "edit"},
                "New child menu": {name: "Newmenu", icon: "cut"},
                delete: {name: "Delete", icon: "delete"},
                "rename": {name: "Rename", icon: "delete"}  
            }
        });

        $('.fa').on('click', function(e){
            console.log('clicked', this);
        })    
    });

</script>